<h1 mat-dialog-title class="accent dialog-title bg-primary text-on-primary text-secondary">{{data.title}}&nbsp;Prospect</h1>
<div mat-dialog-content fxLayout="column">
  <form class="mat-white-bg w-100-p" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="form"
    [formGroup]="form" novalidate>
    <div fxLayout="row wrap" style="width:100%">
      <div fxFlex='100' fxFlex.gt-xs='50' class='p-2'>
        <mat-form-field appearance='outline' style='width:100%'>
          <mat-label>Name</mat-label><input type='text' matInput placeholder='Name' formControlName='name' id='name'>
          <mat-error>Name is Required</mat-error>
        </mat-form-field>
      </div>
      <div fxFlex='100' fxFlex.gt-xs='50' class='p-2'>
        <mat-form-field appearance='outline' style='width:100%'>
          <mat-label>Surname</mat-label><input type='text' matInput placeholder='Surname' formControlName='surname'
            id='surname'>
          <mat-error>Surname is Required</mat-error>
        </mat-form-field>
      </div>

      <div fxFlex='100' fxFlex.gt-xs='50' class='p-2'>
        <mat-form-field appearance='outline' style='width:100%'>
          <mat-label>Role</mat-label><input type='text' matInput placeholder='Role' formControlName='role' id='role'>
          <mat-error>Role is Required</mat-error>
        </mat-form-field>
      </div>
      <div fxFlex='100' fxFlex.gt-xs='50' class='p-2'>
        <mat-form-field appearance='outline' style='width:100%'>
          <mat-label>ID Number</mat-label><input type='text' matInput placeholder='ID Number' formControlName='idNumber'
            id='idNumber'>
          <mat-error>ID Number is Required</mat-error>
        </mat-form-field>
      </div>

      <div fxFlex='100' fxFlex.gt-xs='50' class='p-2'>
        <mat-form-field appearance='outline' style='width:100%'>
          <mat-label>Phone</mat-label><input type='text' matInput placeholder='Phone' formControlName='phone'
            id='phone'>
          <mat-error>Phone is Required</mat-error>
        </mat-form-field>
      </div>
      <div fxFlex='100' fxFlex.gt-xs='50' class='p-2'>
        <mat-form-field appearance='outline' style='width:100%'>
          <mat-label>Email</mat-label><input type='text' matInput placeholder='Email' formControlName='email'
            id='email'>
          <mat-error>Email is Required</mat-error>
        </mat-form-field>
      </div>

      <div fxFlex='100' fxFlex.gt-xs='50' class='p-2'>
        <mat-form-field appearance='outline' style='width:100%'>
          <mat-label>Address 1</mat-label><input type='text' matInput placeholder='Address 1' formControlName='address1'
            id='address1'>
          <mat-error>Address 1 is Required</mat-error>
        </mat-form-field>
      </div>
      <div fxFlex='100' fxFlex.gt-xs='50' class='p-2'>
        <mat-form-field appearance='outline' style='width:100%'>
          <mat-label>Address 2</mat-label><input type='text' matInput placeholder='Address 2' formControlName='address2'
            id='address2'>
          <mat-error>Address 2 is Required</mat-error>
        </mat-form-field>
      </div>

      <div fxFlex='100' fxFlex.gt-xs='50' class='p-2'>
        <mat-form-field appearance='outline' style='width:100%'>
          <mat-label>City</mat-label><input type='text' matInput placeholder='City' formControlName='addressCity'
            id='addressCity'>
          <mat-error>City is Required</mat-error>
        </mat-form-field>
      </div>
      <div fxFlex='100' fxFlex.gt-xs='50' class='p-2'>
        <mat-form-field appearance='outline' style='width:100%'>
          <mat-label>Province</mat-label><input type='text' matInput placeholder='Province'
            formControlName='addressProvince' id='addressProvince'>
          <mat-error>Province is Required</mat-error>
        </mat-form-field>
      </div>

      <div fxFlex='100' fxFlex.gt-xs='50' class='p-2'>
        <mat-form-field appearance='outline' style='width:100%'>
          <mat-label>Country</mat-label><input type='text' matInput placeholder='Country'
            formControlName='addressCountry' id='addressCountry'>
          <mat-error>Country is Required</mat-error>
        </mat-form-field>
      </div>
      <div fxFlex='100' fxFlex.gt-xs='50' class='p-2'>
        <mat-form-field appearance='outline' style='width:100%'>
          <mat-label>Postal Code</mat-label><input type='text' matInput placeholder='Postal Code'
            formControlName='addressCode' id='addressCode'>
          <mat-error>Postal Code is Required</mat-error>
        </mat-form-field>
      </div>

      <div fxFlex='100' fxFlex.gt-xs='50' class='p-2'>
        <mat-form-field appearance='outline' style='width:100%'>
          <mat-label>Equity</mat-label><input type='text' matInput placeholder='Equity' formControlName='equity'
            id='equity'>
          <mat-error>Equity is Required</mat-error>
        </mat-form-field>
      </div>
      <div fxFlex='100' fxFlex.gt-xs='50' class='p-2'>
        <mat-form-field appearance='outline' style='width:100%'>
          <mat-label>Nationality</mat-label><input type='text' matInput placeholder='Nationality'
            formControlName='nationality' id='nationality'>
          <mat-error>Nationality is Required</mat-error>
        </mat-form-field>
      </div>

      <div fxFlex='100' fxFlex.gt-xs='50' class='p-2'>
        <mat-form-field appearance='outline' style='width:100%'>
          <mat-label>Transport</mat-label><input type='text' matInput placeholder='Transport'
            formControlName='transport' id='transport'>
          <mat-error>Transport is Required</mat-error>
        </mat-form-field>
      </div>
      <div fxFlex='100' fxFlex.gt-xs='50' class='p-2'>
        <mat-form-field appearance='outline' style='width:100%'>
          <mat-label>Availability</mat-label><input type='text' matInput placeholder='Availability'
            formControlName='availability' id='availability'>
          <mat-error>Availability is Required</mat-error>
        </mat-form-field>
      </div>

      <div fxFlex='100' fxFlex.gt-xs='50' class='p-2'>
        <mat-form-field appearance='outline' style='width:100%'>
          <mat-label>School</mat-label><input type='text' matInput placeholder='School'
            formControlName='educationSchool' id='educationSchool'>
          <mat-error>School is Required</mat-error>
        </mat-form-field>
      </div>
      <div fxFlex='100' fxFlex.gt-xs='50' class='p-2'>
        <mat-form-field appearance='outline' style='width:100%'>
          <mat-label>Highest Grade</mat-label><input type='text' matInput placeholder='Highest Grade'
            formControlName='educationHighestGrade' id='educationHighestGrade'>
          <mat-error>Highest Grade is Required</mat-error>
        </mat-form-field>
      </div>

      <div fxFlex='100' fxFlex.gt-xs='50' class='p-2'>
        <mat-form-field appearance='outline' style='width:100%'>
          <mat-label>Year Completed</mat-label><input type='number' matInput placeholder='Year Completed'
            formControlName='educationYearCompleted' id='educationYearCompleted'>
          <mat-error>Year Completed is Required</mat-error>
        </mat-form-field>
      </div>
      <div fxFlex='100' fxFlex.gt-xs='50' class='p-2'>
        <mat-form-field appearance='outline' style='width:100%'>
          <mat-label>Client</mat-label>
          <mat-select placeholder="Client" formControlName="clientId">
            <mat-option value="00000000-0000-0000-0000-000000000000">
                None
            </mat-option>
            <mat-option *ngFor="let clientItem of data.clientItems" [value]="clientItem.id">
              {{clientItem.description}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </form>
  <div fxLayout="row wrap" style="width:100%">
    <div fxFlex='100'>
      <div class="grid grid-cols-1 gap-x-1">
        <!-- <div class="my-3 border-b"></div> -->
        <div class="text-xl tracking-tight text-secondary pt-8"><b>LANGUAGES:</b></div>
        <!-- <div class="my-3 border-b"></div> -->
      </div>
      <table mat-table [dataSource]="dataSourceLanguage" style="width:100%">

        <ng-container matColumnDef="cud">
          <th mat-header-cell *matHeaderCellDef class="cudColumnExtra ml-0 pl-12"
                                    style="padding-left: 0px!important;" style="width: 120px;">
            <button mat-icon-button color="default" (click)="initUpsertLanguage(null)" matTooltip="Add Language">
              <mat-icon class="fab-icon">add</mat-icon>
            </button>
          </th>
          <td mat-cell *matCellDef="let rowLanguage" class="cudColumn ml-0">
            <button mat-icon-button color="default" (click)="initUpsertLanguage(rowLanguage)" matTooltip="Update Language">
              <mat-icon class="fab-icon">edit</mat-icon>
            </button>
            <button mat-icon-button color="default" (click)="initDeleteLanguage(rowLanguage)" matTooltip="Remove Language">
              <mat-icon class="fab-icon">delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef mat-header> Language </th>
          <td mat-cell *matCellDef="let rowLanguage"> {{rowLanguage.description}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsLanguage"></tr>
        <tr mat-row *matRowDef="let rowLanguage; columns: displayedColumnsLanguage;"></tr>
      </table>
    </div>
    <div fxFlex='100'>
      <div class="grid grid-cols-1 gap-x-1">
        <!-- <div class="my-3 border-b"></div> -->
        <div class="text-xl tracking-tight text-secondary pt-8"><b>SUBJECTS:</b></div>
        <!-- <div class="my-3 border-b"></div> -->
      </div>
      <table mat-table [dataSource]="dataSourceSubject" style="width:100%">

        <ng-container matColumnDef="cud">
          <th mat-header-cell *matHeaderCellDef class="cudColumnExtra ml-0 pl-12"
                                    style="padding-left: 0px!important;" style="width: 120px;">
            <button mat-icon-button color="default" (click)="initUpsertSubject(null)" matTooltip="Add Subject">
              <mat-icon class="fab-icon">add</mat-icon>
            </button>
          </th>
          <td mat-cell *matCellDef="let rowSubject" class="cudColumn ml-0">
            <button mat-icon-button color="default" (click)="initUpsertSubject(rowSubject)" matTooltip="Update Subject">
              <mat-icon class="fab-icon">edit</mat-icon>
            </button>
            <button mat-icon-button color="default" (click)="initDeleteSubject(rowSubject)" matTooltip="Remove Subject">
              <mat-icon class="fab-icon">delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef mat-header> Subject </th>
          <td mat-cell *matCellDef="let rowSubject"> {{rowSubject.description}} </td>
        </ng-container>
        <ng-container matColumnDef="level">
          <th mat-header-cell *matHeaderCellDef mat-header> Level </th>
          <td mat-cell *matCellDef="let rowSubject"> {{rowSubject.level}} </td>
        </ng-container>
        <ng-container matColumnDef="result">
          <th mat-header-cell *matHeaderCellDef mat-header> Result </th>
          <td mat-cell *matCellDef="let rowSubject"> {{rowSubject.result}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsSubject"></tr>
        <tr mat-row *matRowDef="let rowSubject; columns: displayedColumnsSubject;"></tr>
      </table>
    </div>
    <div fxFlex='100'>
      <div class="grid grid-cols-1 gap-x-1">
        <!-- <div class="my-3 border-b"></div> -->
        <div class="text-xl tracking-tight text-secondary pt-8"><b>TERTIARY EDUCATION:</b></div>
        <!-- <div class="my-3 border-b"></div> -->
      </div>
      <table mat-table [dataSource]="dataSourceTertiary" style="width:100%">

        <ng-container matColumnDef="cud">
          <th mat-header-cell *matHeaderCellDef class="cudColumnExtra ml-0 pl-12"
                                    style="padding-left: 0px!important;" style="width: 120px;">
            <button mat-icon-button color="default" (click)="initUpsertTertiary(null)" matTooltip="Add Tertiary">
              <mat-icon class="fab-icon">add</mat-icon>
            </button>
          </th>
          <td mat-cell *matCellDef="let rowTertiary" class="cudColumn ml-0">
            <button mat-icon-button color="default" (click)="initUpsertTertiary(rowTertiary)" matTooltip="Update Tertiary">
              <mat-icon class="fab-icon">edit</mat-icon>
            </button>
            <button mat-icon-button color="default" (click)="initDeleteTertiary(rowTertiary)" matTooltip="Remove Tertiary">
              <mat-icon class="fab-icon">delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef mat-header> Tertiary </th>
          <td mat-cell *matCellDef="let rowTertiary"> {{rowTertiary.description}} </td>
        </ng-container>
        <ng-container matColumnDef="course">
          <th mat-header-cell *matHeaderCellDef mat-header> Course </th>
          <td mat-cell *matCellDef="let rowTertiary"> {{rowTertiary.course}} </td>
        </ng-container>
        <ng-container matColumnDef="yearCompleted">
          <th mat-header-cell *matHeaderCellDef mat-header> Year Completed </th>
          <td mat-cell *matCellDef="let rowTertiary"> {{rowTertiary.yearCompleted}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsTertiary"></tr>
        <tr mat-row *matRowDef="let rowTertiary; columns: displayedColumnsTertiary;"></tr>
      </table>
    </div>
    <div fxFlex='100'>
      <div class="grid grid-cols-1 gap-x-1">
        <!-- <div class="my-3 border-b"></div> -->
        <div class="text-xl tracking-tight text-secondary pt-8"><b>EMPLOYMENT HISTORY:</b></div>
        <!-- <div class="my-3 border-b"></div> -->
      </div>
      <table mat-table [dataSource]="dataSourceEmployment" style="width:100%">

        <ng-container matColumnDef="cud">
          <th mat-header-cell *matHeaderCellDef class="cudColumnExtra ml-0 pl-12"
                                    style="padding-left: 0px!important;" style="width: 120px;">
            <button mat-icon-button color="default" (click)="initUpsertEmployment(null)" matTooltip="Add Employment">
              <mat-icon class="fab-icon">add</mat-icon>
            </button>
          </th>
          <td mat-cell *matCellDef="let rowEmployment" class="cudColumn ml-0">
            <button mat-icon-button color="default" (click)="initUpsertEmployment(rowEmployment)" matTooltip="Update Employment">
              <mat-icon class="fab-icon">edit</mat-icon>
            </button>
            <button mat-icon-button color="default" (click)="initDeleteEmployment(rowEmployment)"
              matTooltip="Remove Employment">
              <mat-icon class="fab-icon">delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef mat-header> Company </th>
          <td mat-cell *matCellDef="let rowEmployment"> {{rowEmployment.description}} </td>
        </ng-container>
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef mat-header> Position </th>
          <td mat-cell *matCellDef="let rowEmployment"> {{rowEmployment.position}} </td>
        </ng-container>
        <ng-container matColumnDef="dateStart">
          <th mat-header-cell *matHeaderCellDef mat-header> Start Date </th>
          <td mat-cell *matCellDef="let rowEmployment"> {{rowEmployment.dateStart | date:'longDate'}} </td>
        </ng-container>
        <ng-container matColumnDef="dateEnd">
          <th mat-header-cell *matHeaderCellDef mat-header> End Date </th>
          <td mat-cell *matCellDef="let rowEmployment"> {{rowEmployment.dateEnd | date:'longDate'}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsEmployment"></tr>
        <tr mat-row *matRowDef="let rowEmployment; columns: displayedColumnsEmployment;"></tr>
      </table>
    </div>
  </div>
</div>
<div mat-dialog-actions class="dialog-footer">
  <span style="flex: 1 1 auto;"></span>
  <button mat-raised-button color="warn" (click)="onNoClick()">Cancel</button>
  <button mat-raised-button [color]="'primary'" [mat-dialog-close]="form.value" [disabled]="!form.valid">Submit</button>
</div>