<h1 mat-dialog-title class="accent dialog-title bg-primary text-on-primary text-secondary">{{formData.title}} Driver</h1>
<div mat-dialog-content fxLayout="column">
    <form class="mat-white-bg w-100-p" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="form"
        [formGroup]="form" novalidate style="padding: 0px!important;">
        <div fxLayout="row wrap" class="w-100-p">
            <!-- <div fxFlex="100" fxFlex.gt-xs="50" class="p-4" style="padding: 0px!important;">
                <mat-form-field appearance="outline" class="w-100-p">
                    <mat-label>UserId</mat-label>
                    <mat-select placeholder="UserId" formControlName="userId">
                        <mat-option *ngFor="let userItem of formData.userList" [value]="userItem.id">
                            {{userItem.description}}</mat-option>
                    </mat-select>
                    <mat-error>UserId is required</mat-error>
                </mat-form-field>
            </div> -->
            <div fxFlex="100" fxFlex.gt-xs="50" class="p-4" style="padding: 0px!important;">
                <mat-form-field appearance="outline" class="w-100-p">
                    <mat-label>First Name</mat-label><input matInput placeholder="FirstName" formControlName="firstName"
                        id="description">
                    <mat-error *ngIf="hasError('firstName', 'required')">First Name is required</mat-error>
                </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.gt-xs="50" class="p-4" style="padding: 0px!important;">
                <mat-form-field appearance="outline" class="w-100-p">
                    <mat-label>Last Name</mat-label><input matInput placeholder="LastName" formControlName="lastName"
                        id="description">
                    <mat-error *ngIf="hasError('lastName', 'required')">Last Name is required</mat-error>
                </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.gt-xs="50" class="p-4" style="padding: 0px!important;">
                <mat-form-field appearance="outline" class="w-100-p">
                    <mat-label>ID Number</mat-label><input matInput placeholder="IdNumber" formControlName="idNumber"
                        id="description">
                    <mat-error *ngIf="hasError('idNumber', 'required')">ID Number is required</mat-error>
                </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.gt-xs="50" class="p-4" style="padding: 0px!important;">
                <mat-form-field appearance="outline" class="w-100-p">
                    <mat-label>Phone</mat-label><input matInput placeholder="Phone" formControlName="phone"
                        id="description">
                    <mat-error *ngIf="hasError('phone', 'required')">Phone is required</mat-error>
                </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.gt-xs="50" class="p-4" style="padding: 0px!important;">
                <mat-form-field appearance="outline" class="w-100-p">
                    <mat-label>Email</mat-label><input matInput placeholder="Email" formControlName="email"
                        id="email">
                    <mat-error *ngIf="hasError('email', 'required')">Email is required</mat-error>
                </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.gt-xs="50" class="p-4" style="padding: 0px!important;">
                <mat-form-field appearance="outline" class="w-100-p">
                    <mat-label>Password</mat-label><input matInput placeholder="Password" formControlName="password"
                        id="password">
                </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.gt-xs="50" class="p-4" style="padding: 0px!important;">
                <mat-form-field appearance="outline" class="w-100-p">
                    <mat-label>Date Of Birth</mat-label><input matInput readonly [matDatepicker]="picker_dateOfBirth"
                        formControlName="dateOfBirth">
                    <mat-datepicker-toggle matSuffix [for]="picker_dateOfBirth"></mat-datepicker-toggle>
                    <mat-datepicker #picker_dateOfBirth></mat-datepicker>
                    <mat-error>Date Of Birth is required</mat-error>
                </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.gt-xs="50" class="p-4" style="padding: 0px!important;"></div>
            <div fxFlex="100" fxFlex.gt-xs="50" class="p-4" style="padding: 0px!important;">
                <mat-form-field appearance="outline" class="w-100-p">
                    <mat-label>Licence Type</mat-label>
                    <mat-select placeholder="LicenceTypeId" formControlName="licenceTypeId">
                        <mat-option *ngFor="let licenceTypeItem of formData.licenceTypeList"
                            [value]="licenceTypeItem.id">{{licenceTypeItem.code}}</mat-option>
                    </mat-select>
                    <mat-error>Licence Type is required</mat-error>
                </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.gt-xs="50" class="p-4" style="padding: 0px!important;">
                <mat-form-field appearance="outline" class="w-100-p">
                    <mat-label>Licence Expiry Date</mat-label>
                    <input matInput readonly
                        [matDatepicker]="picker_licenceExpiryDate" formControlName="licenceExpiryDate">
                    <mat-datepicker-toggle matSuffix [for]="picker_licenceExpiryDate"></mat-datepicker-toggle>
                    <mat-datepicker #picker_licenceExpiryDate></mat-datepicker>
                    <mat-error>Licence Expiry Date is required</mat-error>
                </mat-form-field>
            </div>
            <div fxFlex="100" class="p-4" fxLayout="row" fxLayoutAlign="center center">
                <input #Image id="fileInput" type="file" (change)="handleFileInput($event.target.files)"
                    accept=".jpg,.png,.jpeg" style="display:none" />
                <div fxFlex fxLayout="column">
                    <div fxFlex fxLayout="row">
                        <button mat-flat-button fxFlex="100" color="primary" (click)="Image.click()"
                            style="margin-left: 2px; margin-right: 2px;">Upload Image</button>
                        <!-- <button mat-flat-button fxFlex="100" fxFlex.gt-xs="50" color="primary" (click)="initCamera()"
                            style="margin-left: 2px; margin-right: 2px;">Take Photo</button> -->
                    </div>
                    <div fxFlex fxLayout="row" fxLayoutAlign="center center" style="margin-top:4px">
                        <img *ngIf="previewImage" style="max-width: 120px;max-height: 120px;width: auto;height: auto;"
                            [src]="previewImage" class="image" (click)="Image.click()" />
                        <img *ngIf="!previewImage && form.value.avatar"
                            style="max-width: 120px;max-height: 120px;width: auto;height: auto;"
                            [src]="'/Images/Drivers/' + form.value.id + form.value.avatar" class="image"
                            (click)="Image.click()" />
                        <img *ngIf="!previewImage && !form.value.avatar"
                            style="max-width: 120px;max-height: 120px;width: auto;height: auto;"
                            src="assets/images/no-image.jpg" class="image" (click)="Image.click()" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div mat-dialog-actions class="dialog-footer">
    <span style="flex: 1 1 auto;"></span>
    <button mat-flat-button color="warn" (click)="onNoClick()">Cancel</button>
    <button mat-flat-button color="primary" (click)="onYesClick()" [disabled]="!form.valid">Submit</button>
</div>