<h1 mat-dialog-title class="accent dialog-title bg-primary text-on-primary text-secondary">{{data.title}}&nbsp;Tertiary</h1>
<div mat-dialog-content fxLayout="column">
  <form class="mat-white-bg w-100-p" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="form"
    [formGroup]="form" novalidate>
    <div fxLayout="row wrap" style="width:100%">
      <div fxFlex='100' class='p-2'>
        <mat-form-field appearance='outline' style='width:100%'>
          <mat-label>Description</mat-label><input type='text' matInput placeholder='Description' formControlName='description' id='description'>
          <mat-error>Description is Required</mat-error>
        </mat-form-field>
      </div>
      <div fxFlex='100' class='p-2'>
        <mat-form-field appearance='outline' style='width:100%'>
          <mat-label>Course</mat-label><input type='text' matInput placeholder='Course' formControlName='course' id='course'>
          <mat-error>Course is Required</mat-error>
        </mat-form-field>
      </div>
      <div fxFlex='100' class='p-2'>
        <mat-form-field appearance='outline' style='width:100%'>
          <mat-label>Year Completed</mat-label><input type='number' matInput placeholder='Year Completed' formControlName='yearCompleted' id='yearCompleted'>
          <mat-error>Year Completed is Required</mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions class="dialog-footer">
  <span style="flex: 1 1 auto;"></span>
  <button mat-raised-button color="warn" (click)="onNoClick()">Cancel</button>
  <button mat-raised-button [color]="'primary'" [mat-dialog-close]="form.value" [disabled]="!form.valid">Submit</button>
</div>