.map-container {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50vh;
    min-height: 200px;
}

.map-frame {
    height: 100%;
}

#mapAddress {
    height: 100%;
}
