<div class="flex flex-col flex-auto min-w-0">
    <div class="page-layout blank p-4" fusePerfectScrollbar>
        <div class="grid grid-cols-1 sm:grid-cols-6 gap-6 w-full min-w-0">
            <div class="sm:col-span-4 lg:col-span-4 flex flex-col flex-auto p-6 overflow-hidden"
                style="padding: 0!important">
                <mat-form-field style="width:100%" class="mt-0">
                    <input matInput (keyup)="applyFilter($event)" placeholder="Filter" #input>
                </mat-form-field>
                <div class="table-container bg-card shadow rounded-2xl">
                    <mat-card class="mat-elevation-z8" style="padding: 4px!important;">
                        <table mat-table [dataSource]="dataSource" matSort>
                            <ng-container matColumnDef="cud">
                                <th mat-header-cell *matHeaderCellDef class="cudColumnExtra ml-0 pl-12"
                                    style="padding-left: 0px!important;"><button mat-icon-button color="default"
                                        (click)="initUpsert(null)" matTooltip="Add Advert" [disabled]="loading">
                                        <mat-icon class="fab-icon">add</mat-icon>
                                    </button></th>
                                <td mat-cell *matCellDef="let row" class="cudColumnExtra ml-0 pl-12"
                                    style="padding-left: 0px!important;"><button mat-icon-button color="default"
                                        (click)="initUpsert(row)" matTooltip="Update Advert" [disabled]="loading">
                                        <mat-icon class="fab-icon">edit</mat-icon>
                                    </button><button mat-icon-button color="default" (click)="initDelete(row.id)"
                                        matTooltip="Remove Advert" [disabled]="loading">
                                        <mat-icon class="fab-icon">delete</mat-icon>
                                    </button></td>
                            </ng-container>
                            <ng-container matColumnDef="title">
                                <th mat-header-cell *matHeaderCellDef>
                                    <p class="table-header" mat-sort-header="title">Title</p>
                                </th>
                                <td mat-cell *matCellDef="let row" class="table-cell"> {{row.title}} </td>
                            </ng-container>
                            <ng-container matColumnDef="advertPackageDescription">
                                <th mat-header-cell *matHeaderCellDef>
                                    <p class="table-header" mat-sort-header="advertPackageDescription">Advert Package
                                    </p>
                                </th>
                                <td mat-cell *matCellDef="let row" class="table-cell"> {{row.advertPackage ?
                                    row.advertPackage.description : ''}} </td>
                            </ng-container>
                            <ng-container matColumnDef="avatar">
                                <th mat-header-cell *matHeaderCellDef>
                                    <p class="table-header" mat-sort-header="avatar">Image</p>
                                </th>
                                <td mat-cell *matCellDef="let row" class="table-cell">
                                    <img *ngIf="row.avatar" style="max-width: 80px;max-height: 80px;"
                                        [src]="'/Images/Adverts/' + row.id + row.avatar" class="image" />
                                    <img *ngIf="!row.avatar" style="max-width: 80px;max-height: 80px;"
                                        src="assets/images/no-image.jpg" class="image" />
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="statusDescription">
                                <th mat-header-cell *matHeaderCellDef>
                                    <p class="table-header" mat-sort-header="statusDescription">Status</p>
                                </th>
                                <td mat-cell *matCellDef="let row" class="table-cell"> {{row.status.description}} </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10" [disabled]="loading">
                        </mat-paginator>
                    </mat-card>
                </div>
            </div>
            <div class="sm:col-span-2 lg:col-span-2 flex flex-col flex-auto p-6 overflow-hidden"
                style="padding: 0!important">
                <advert></advert>
            </div>
        </div>
    </div>
</div>