<ng-container *ngIf="advertItems.length > 0">
  <mat-card *ngFor="let advertItem of advertItems"
    class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden" style="margin-bottom: 12px;">
    <mat-card-title-group>
      <mat-card-title style="font-size: 18px;">{{advertItem.title}}</mat-card-title>
      <mat-card-subtitle>{{advertItem.subTitle}}</mat-card-subtitle>
      <img *ngIf="advertItem.avatar" mat-card-sm-image
      [src]="'/Images/Adverts/' + advertItem.id + advertItem.avatar">
    </mat-card-title-group>
    <mat-card-content>
      {{advertItem.content}}<br><br>
      <a [href]="advertItem.link" target="_blank">{{advertItem.link}}</a>
    </mat-card-content>
  </mat-card>
</ng-container>

<mat-card *ngIf="advertItems.length === 0" class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden"
  style="margin-bottom: 12px;">
  <mat-card-title-group>
    <mat-card-title style="font-size: 18px;">Loadgistix</mat-card-title>
    <mat-card-subtitle>Get more</mat-card-subtitle>
    <img mat-card-sm-image src="assets/images/no-image.jpg">
  </mat-card-title-group>
  <mat-card-content>
    Contact us today - we will show you how to get the best out of Loadgistix!
  </mat-card-content>
</mat-card>