<h1 mat-dialog-title class="accent dialog-title bg-primary text-on-primary text-secondary">{{formData.title}} Directory</h1>
<div mat-dialog-content fxLayout="column">
    <form class="mat-white-bg w-100-p" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="form"
        [formGroup]="form" novalidate style="padding: 0px!important;">
        <div fxLayout="row wrap" class="w-100-p">
            <!-- <div fxFlex="100" fxFlex.gt-xs="50" class="p-4" style="padding: 0px!important;">
                <mat-form-field appearance="outline" class="w-100-p">
                    <mat-label>UserId</mat-label>
                    <mat-select placeholder="UserId" formControlName="userId">
                        <mat-option *ngFor="let userItem of formData.userList" [value]="userItem.id">
                            {{userItem.description}}</mat-option>
                    </mat-select>
                    <mat-error>UserId is required</mat-error>
                </mat-form-field>
            </div> -->
            <div fxFlex="100" fxFlex.gt-xs="50" class="p-4" style="padding: 0px!important;">
                <mat-form-field appearance="outline" class="w-100-p">
                    <mat-label>Category</mat-label>
                    <mat-select placeholder="Category" formControlName="directoryCategoryId">
                        <mat-option *ngFor="let directoryCategoryItem of formData.directoryCategoryList"
                            [value]="directoryCategoryItem.id">{{directoryCategoryItem.description}}</mat-option>
                    </mat-select>
                    <mat-error>Category is required</mat-error>
                </mat-form-field>
            </div>

            <div fxFlex="100" fxFlex.gt-xs="50" class="p-4" style="padding: 0px!important;">
                <mat-form-field appearance="outline" class="w-100-p">
                    <mat-label>Company Name</mat-label><input matInput placeholder="Company Name"
                        formControlName="companyName" id="companyName">

                    <mat-error *ngIf="hasError('companyName', 'required')">Company Name is required</mat-error>
                </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.gt-xs="50" class="p-4" style="padding: 0px!important;">
                <mat-form-field appearance="outline" class="w-100-p">
                    <mat-label>Description</mat-label><input matInput placeholder="Description"
                        formControlName="description" id="description" maxlength="500">

                    <mat-error *ngIf="hasError('description', 'required')">Description is required</mat-error>
                </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.gt-xs="50" class="p-4" style="padding: 0px!important;">
                <mat-form-field appearance="outline" class="w-100-p">
                    <mat-label>Email</mat-label><input matInput placeholder="Email" formControlName="email" id="email">

                    <mat-error *ngIf="hasError('email', 'required')">Email is required</mat-error>
                </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.gt-xs="50" class="p-4" style="padding: 0px!important;">
                <mat-form-field appearance="outline" class="w-100-p">
                    <mat-label>Phone</mat-label><input matInput placeholder="Phone" formControlName="phone" id="phone">

                    <mat-error *ngIf="hasError('phone', 'required')">Phone is required</mat-error>
                </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.gt-xs="50" class="p-4" style="padding: 0px!important;">
                <mat-form-field appearance="outline" class="w-100-p">
                    <mat-label>Website</mat-label><input matInput placeholder="Website" formControlName="website"
                        id="website">

                    <mat-error *ngIf="hasError('website', 'required')">Website is required</mat-error>
                </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.gt-xs="50" class="p-4" style="padding: 0px!important;">
                <mat-form-field appearance="outline" class="w-100-p">
                    <mat-label>Instagram Link</mat-label><input matInput placeholder="Instagram Link"
                        formControlName="instagram" id="instagram">

                    <mat-error *ngIf="hasError('instagram', 'required')">Instagram Link is required</mat-error>
                </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.gt-xs="50" class="p-4" style="padding: 0px!important;">
                <mat-form-field appearance="outline" class="w-100-p">
                    <mat-label>Facebook Link</mat-label><input matInput placeholder="Facebook Link"
                        formControlName="facebook" id="facebook">
                    <mat-error *ngIf="hasError('facebook', 'required')">Facebook Link is required</mat-error>
                </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.gt-xs="50" class="p-4" style="padding: 0px!important;">
                <mat-form-field appearance="outline" class="w-100-p">
                    <mat-label>Twitter Link</mat-label><input matInput placeholder="Twitter Link"
                        formControlName="twitter" id="twitter">
                    <mat-error *ngIf="hasError('twitter', 'required')">Twitter Link is required</mat-error>
                </mat-form-field>
            </div>

            <div fxFlex="100" fxFlex.gt-xs="50" class="p-4" style="padding: 0px!important;">
                <mat-form-field appearance="outline" class="w-100-p">
                    <mat-label>Address</mat-label><input readonly matInput placeholder="Address"
                        formControlName="addressLabel" id="addressLabel"><button matSuffix mat-button
                        (click)="getAddress()">
                        <mat-icon>search</mat-icon>
                    </button>
                    <mat-error *ngIf="hasError('addressLabel', 'required')">Address is required
                    </mat-error>
                </mat-form-field>
            </div>

            <div fxFlex="100" fxFlex.gt-xs="50" class="p-4" fxLayout="row" fxLayoutAlign="center center">
                <input #Image id="fileInput" type="file" (change)="handleFileInput($event.target.files)"
                    accept=".jpg,.png,.jpeg" style="display:none" />
                <div fxFlex fxLayout="column">
                    <div fxFlex fxLayout="row">
                        <button mat-flat-button fxFlex="100" color="primary" (click)="Image.click()"
                            style="margin-left: 2px; margin-right: 2px;">Upload Image</button>
                        <!-- <button mat-flat-button fxFlex="100" fxFlex.gt-xs="50" color="primary" (click)="initCamera()"
                            style="margin-left: 2px; margin-right: 2px;">Take Photo</button> -->
                    </div>
                    <div fxFlex fxLayout="row" fxLayoutAlign="center center" style="margin-top:4px">
                        <img *ngIf="previewImage" style="max-width: 120px;max-height: 120px;width: auto;height: auto;"
                            [src]="previewImage" class="image" (click)="Image.click()" />
                        <img *ngIf="!previewImage && form.value.avatar"
                            style="max-width: 120px;max-height: 120px;width: auto;height: auto;"
                            [src]="'/Images/Directories/' + form.value.id + form.value.avatar" class="image"
                            (click)="Image.click()" />
                        <img *ngIf="!previewImage && !form.value.avatar"
                            style="max-width: 120px;max-height: 120px;width: auto;height: auto;"
                            src="assets/images/no-image.jpg" class="image" (click)="Image.click()" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div mat-dialog-actions class="dialog-footer">
    <span style="flex: 1 1 auto;"></span>
    <button mat-flat-button color="warn" (click)="onNoClick()">Cancel</button>
    <button mat-flat-button color="primary" (click)="onYesClick()" [disabled]="!form.valid">Submit</button>
</div>