<h1 mat-dialog-title class="accent dialog-title bg-primary text-on-primary text-secondary">Load Details</h1>
<div mat-dialog-content fxLayout="column">

</div>
<div mat-dialog-actions class="dialog-footer"><span style="flex: 1 1 auto;"></span>
    <button mat-flat-button color="warn" (click)="onNoClick()">Cancel</button>
    <button mat-flat-button color="primary" (click)="onYesClick()" [disabled]="!form.valid" *ngIf="!readOnly">Submit</button>
    <button mat-flat-button color="primary" (click)="initBid()" *ngIf="readOnly">Place Bid</button>
</div>