<div class="flex flex-col flex-auto min-w-0">
    <div fxFlex fxLayout="column" class="page-layout blank p-4" fusePerfectScrollbar>
        <div fxLayout="row wrap" class="w-100-p">
            <div fxFlex="100" fxFlex.gt-xs="24">
                <mat-form-field appearance="outline" class="w-100-p">
                    <mat-label>Within Range</mat-label>
                    <mat-select [(ngModel)]="range" placeholder="Within Range" [disabled]="loading">
                        <mat-option *ngFor="let rangeItem of rangeItems" [value]="rangeItem.value">
                            {{rangeItem.description}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.gt-xs="24">
                <mat-form-field appearance="outline" class="w-100-p">
                    <mat-label>Max Weight (kg)</mat-label>
                    <input matInput type="number" placeholder="Max Weight (kg)" [(ngModel)]="weight" [disabled]="loading">
                </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.gt-xs="24">
                <mat-form-field appearance="outline" class="w-100-p">
                    <mat-label>Max Volume (cm) | width x height x length</mat-label>
                    <input matInput type="number" placeholder="Max Volume (width x height x length)" [(ngModel)]="volumeCm"
                        [disabled]="loading">
                </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.gt-xs="24">
                <mat-form-field appearance="outline" class="w-100-p">
                    <mat-label>Max Volume (litres)</mat-label>
                    <input matInput type="number" placeholder="Max Volume (litres)" [(ngModel)]="volumeLt"
                        [disabled]="loading">
                </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.gt-xs="4" style="align-items:right">
                <button mat-mini-fab color="default" (click)="load()" matTooltip="Filter" [disabled]="loading"
                    style="margin-top: 12px;">
                    <mat-icon class="fab-icon">search</mat-icon>
                </button>
            </div>
        </div>
        <mat-tab-group *ngIf="loadList.length > 0" mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4" style="padding-top:16px" [(selectedIndex)]="tabIndex">
            <mat-tab label="Map">
                <app-map [loadsAvailable]="loadList" (select)="initUpsert($event, 1)">
                </app-map>
            </mat-tab>
            <mat-tab label="Table">
                <div class="table-container" class="mat-elevation-z5">
                    <mat-card class="mat-elevation-z5" style="padding: 4px!important;">
                        <table mat-table [dataSource]="dataSource" matSort>
                            <ng-container matColumnDef="cud">
                                <th mat-header-cell *matHeaderCellDef class="cudColumnExtra ml-0 pl-12"
                                    style="padding-left: 0px!important;">
                                    <!-- <button mat-icon-button color="default"
                                    (click)="initUpsert(null, 0)" matTooltip="Add Load"
                                    [disabled]="loading">
                                    <mat-icon class="fab-icon">add</mat-icon>
                                </button> -->
                                </th>
                                <td mat-cell *matCellDef="let row" class="cudColumnExtra ml-0 pl-12"
                                    style="padding-left: 0px!important;">
                                    <!-- <button mat-stroked-button color="primary" (click)="initUpsert(row, 1)"
                                    matTooltip="View Details" [disabled]="loading">
                                    details
                                </button> -->
                                    <button mat-icon-button color="default" (click)="initUpsert(row, 1)"
                                        matTooltip="View Details" [disabled]="loading">
                                        <mat-icon class="fab-icon">search</mat-icon>
                                    </button>
                                    <!-- <button mat-icon-button color="default" (click)="initDelete(row.id)"
                                    matTooltip="Remove Load" [disabled]="loading">
                                    <mat-icon class="fab-icon">delete</mat-icon>
                                </button> -->
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="userDescription">
                                <th mat-header-cell *matHeaderCellDef>
                                    <p class="table-header" mat-sort-header="userDescription">UserId</p>
                                </th>
                                <td mat-cell *matCellDef="let row" class="table-cell"> {{row.userDescription}} </td>
                            </ng-container>
                            <ng-container matColumnDef="loadTypeDescription">
                                <th mat-header-cell *matHeaderCellDef>
                                    <p class="table-header" mat-sort-header="description">Load Type</p>
                                </th>
                                <td mat-cell *matCellDef="let row" class="table-cell"> {{row.loadTypeDescription}} </td>
                            </ng-container>
                            <ng-container matColumnDef="description">
                                <th mat-header-cell *matHeaderCellDef>
                                    <p class="table-header" mat-sort-header="description">Description</p>
                                </th>
                                <td mat-cell *matCellDef="let row" class="table-cell"> {{row.description}} </td>
                            </ng-container>
                            <ng-container matColumnDef="note">
                                <th mat-header-cell *matHeaderCellDef>
                                    <p class="table-header" mat-sort-header="note">Note</p>
                                </th>
                                <td mat-cell *matCellDef="let row" class="table-cell"> {{row.note}} </td>
                            </ng-container>
                            <ng-container matColumnDef="price">
                                <th mat-header-cell *matHeaderCellDef>
                                    <p class="table-header" mat-sort-header="price">Price</p>
                                </th>
                                <td mat-cell *matCellDef="let row" class="table-cell"> {{row.price | number}} </td>
                            </ng-container>
                            <ng-container matColumnDef="originatingAddressLabel">
                                <th mat-header-cell *matHeaderCellDef>
                                    <p class="table-header" mat-sort-header="originatingAddressLabel">Originating
                                        Address
                                    </p>
                                </th>
                                <td mat-cell *matCellDef="let row" class="table-cell">
                                    {{getAddressSubstring(row.originatingAddressLabel, ',')}} </td>
                            </ng-container>
                            <ng-container matColumnDef="destinationAddressLabel">
                                <th mat-header-cell *matHeaderCellDef>
                                    <p class="table-header" mat-sort-header="destinationAddressLabel">Destination
                                        Address
                                    </p>
                                </th>
                                <td mat-cell *matCellDef="let row" class="table-cell">
                                    <span>{{getAddressSubstring(row.destinationAddressLabel, ',')}}</span> </td>
                            </ng-container>
                            <ng-container matColumnDef="itemCount">
                                <th mat-header-cell *matHeaderCellDef>
                                    <p class="table-header" mat-sort-header="itemCount">Items</p>
                                </th>
                                <td mat-cell *matCellDef="let row" class="table-cell"> {{row.itemCount | number}} </td>
                            </ng-container>
                            <ng-container matColumnDef="weight">
                                <th mat-header-cell *matHeaderCellDef>
                                    <p class="table-header" mat-sort-header="weight">Weight</p>
                                </th>
                                <td mat-cell *matCellDef="let row" class="table-cell"> {{row.weight | number}}kg </td>
                            </ng-container>
                            <ng-container matColumnDef="length">
                                <th mat-header-cell *matHeaderCellDef>
                                    <p class="table-header" mat-sort-header="length">Length (cm)</p>
                                </th>
                                <td mat-cell *matCellDef="let row" class="table-cell"> {{row.length | number}} </td>
                            </ng-container>
                            <ng-container matColumnDef="width">
                                <th mat-header-cell *matHeaderCellDef>
                                    <p class="table-header" mat-sort-header="width">Width (cm)</p>
                                </th>
                                <td mat-cell *matCellDef="let row" class="table-cell"> {{row.width | number}} </td>
                            </ng-container>
                            <ng-container matColumnDef="height">
                                <th mat-header-cell *matHeaderCellDef>
                                    <p class="table-header" mat-sort-header="height">Height (cm)</p>
                                </th>
                                <td mat-cell *matCellDef="let row" class="table-cell"> {{row.height | number}} </td>
                            </ng-container>
                            <ng-container matColumnDef="totalValue">
                                <th mat-header-cell *matHeaderCellDef>
                                    <p class="table-header" mat-sort-header="totalValue">Total Value</p>
                                </th>
                                <td mat-cell *matCellDef="let row" class="table-cell"> {{row.totalValue | number}} </td>
                            </ng-container>
                            <ng-container matColumnDef="volumeCm">
                                <th mat-header-cell *matHeaderCellDef>
                                    <p class="table-header" mat-sort-header="volumeCm">Volume (cm<sup>3</sup>)</p>
                                </th>
                                <td mat-cell *matCellDef="let row" class="table-cell"> {{row.height * row.width *
                                    row.length
                                    | number}}cm<sup>3</sup> </td>
                            </ng-container>
                            <ng-container matColumnDef="volumeLt">
                                <th mat-header-cell *matHeaderCellDef>
                                    <p class="table-header" mat-sort-header="volumeLt">Volume (litres)</p>
                                </th>
                                <td mat-cell *matCellDef="let row" class="table-cell"> {{row.volume
                                    | number}} litres </td>
                            </ng-container>
                            <ng-container matColumnDef="dateOut">
                                <th mat-header-cell *matHeaderCellDef>
                                    <p class="table-header" mat-sort-header="dateOut">Departure Date</p>
                                </th>
                                <td mat-cell *matCellDef="let row" class="table-cell"> {{row.dateOut | date}} </td>
                            </ng-container>
                            <ng-container matColumnDef="dateIn">
                                <th mat-header-cell *matHeaderCellDef>
                                    <p class="table-header" mat-sort-header="dateIn">Delivery Date</p>
                                </th>
                                <td mat-cell *matCellDef="let row" class="table-cell"> {{row.dateIn | date}} </td>
                            </ng-container>
                            <ng-container matColumnDef="dateBidEnd">
                                <th mat-header-cell *matHeaderCellDef>
                                    <p class="table-header" mat-sort-header="dateBidEnd">Bid Close Date</p>
                                </th>
                                <td mat-cell *matCellDef="let row" class="table-cell"> {{row.dateBidEnd | date}} </td>
                            </ng-container>
                            <ng-container matColumnDef="notificationDescription">
                                <th mat-header-cell *matHeaderCellDef>
                                    <p class="table-header" mat-sort-header="notificationDescription">Notification Type
                                    </p>
                                </th>
                                <td mat-cell *matCellDef="let row" class="table-cell"> {{row.notificationDescription}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="avatar">
                                <th mat-header-cell *matHeaderCellDef>
                                    <p class="table-header" mat-sort-header="avatar">Photo</p>
                                </th>
                                <td mat-cell *matCellDef="let row" class="table-cell"> {{row.avatar}} </td>
                            </ng-container>
                            <ng-container matColumnDef="statusDescription">
                                <th mat-header-cell *matHeaderCellDef>
                                    <p class="table-header" mat-sort-header="statusDescription">Status</p>
                                </th>
                                <td mat-cell *matCellDef="let row" class="table-cell"> {{row.statusDescription}} </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10" [disabled]="loading">
                        </mat-paginator>
                    </mat-card>
                </div>
            </mat-tab>
        </mat-tab-group>
        <mat-card *ngIf="loadList.length === 0" fxFlex fxLayout="row" fxLayoutAlign="center center">
            No Loads Available for Selection
        </mat-card>
    </div>
</div>
